html{
    background-image: url("https://backgrounder.dynamyc.me/gimme");
	min-height: 100%;
	background-position-x: center;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	--window-background-color: #4b2077;
	overflow: hidden;
}

@media screen and (orientation: portrait) {
	body {
		background-position-y: top;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
	}
}

/* Base styles for draggable window */
.main-window {
	position: absolute;
	user-select: none;
	height: auto;
}

.main-window .window-body article {
	min-height: 450px;
	overflow: auto;
	max-height: calc(100vh - 100px);
}


/* Make the accounts section selectable, for easy copying */
#accounts {
	user-select: text !important;
	cursor: default !important;
}

/* Exit dialog positioning */
#exit-dialog {
	position: fixed;
	display: none;
	z-index: 9999;
	user-select: none;
}

#exit-dialog:target {
	display: block;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
	.main-window{
		width: 82%;
		max-width: 100%;
	}
	.circle{
		border-radius: 50%;
		margin-right: 15%;
		min-height: 25%;
		max-width: 100%;
		max-height: auto;
	}
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
	.main-window{
		width: 82%;
		max-width: 100%;
	}
	.circle{
		border-radius: 50%;
		margin-right: 0%;
		min-height: 25%;
		max-width: 95%;
		max-height: auto;
	}
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
	.main-window{
		width: 76%;
		max-width: 100%;
	}
	.circle{
		border-radius: 50%;
		margin-right: 0%;
		min-height: 25%;
		max-width: 85%;
		max-height: auto;
	}
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {
	.main-window{
		width: 74%;
		max-width: 100%;
	}
	.circle{
		border-radius: 50%;
		margin-right: 10%;
		min-height: 25%;
		max-width: 75%;
		max-height: auto;
	}
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
	.main-window{
		width: 72%;
		max-width: 100%;
	}
	.circle{
		border-radius: 50%;
		margin-right: 10%;
		min-height: 25%;
		max-width: 65%;
		max-height: auto;
	}
}
/* hi-res laptops and desktops */
@media (min-width:1281px) {
	.main-window{
		width: 68%;
		max-width: 100%;
	}
	.circle{
		border-radius: 50%;
		margin-right: 10%;
		min-height: 25%;
		max-width: 55%;
		max-height: auto;
	}
}